body{
    background-color: #001524;
    font-family: 'Quattrocento Sans', sans-serif;
}

nav{
    background-color: #001524;
}

.menu-button{
    margin: 10px;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

.item-description{
    font-size: 10px;
}

.btn{
    margin-right: 10px;
    font-family: 'Handlee', sans-serif;
}

.cart-img{
    max-height: 50px;
    margin-right: 10px;
}

#quantity{
    margin-left: 10px;
    max-width: 50px;
}

#remove-cart{
    margin-left: 10px;
}

.checkout-form{
    margin-top: 10px;
    padding: 15px;
    border: solid 1px;
    border-radius: 15px;
}
.checkout-input{
    max-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.orders-container{
    max-width: 500px;
    background-color: white;
    margin-top: 30px;
    padding: 10px;
    padding-bottom: 25px;
    border: solid 1px;
    border-radius: 15px;
}
.order-container h3{
    font-family: 'Handlee', cursive;
    margin-bottom: 5px;
}

.collapsible{
    background-color: white;
    font-family: 'Quattrocento Sans', sans-serif;
}
.card-reveal{
    
    font-size: large;
}
.card-title{
    font-family: 'Handlee', cursive;
}
.header-logo{
    max-height: 500px;
}
h1{
    font-family: 'Handlee', cursive;
}