body{

}
.landing-image{
    max-width : auto;
}
nav{
    background-color: #001524;
}

.menu-button{
    margin: 10px;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

.item-description{
    font-size: 10px;
}

.btn{
    margin-right: 10px;
}

.cart-img{
    max-height: 50px;
    margin-right: 10px;
}

#quantity{
    margin-left: 10px;
    max-width: 50px;
}

#remove-cart{
    margin-left: 10px;
}

.checkout-form{
    margin-top: 10px;
    padding: 15px;
    border: solid 1px;
    border-radius: 15px;
}
.checkout-input{
    max-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.orders-container{
    border: solid 1px;
    border-radius: 15px;
}